In [ ]:
pip install auto-py-to-exe

In [ ]:
pip install psycopg2

In [ ]:
pip install --upgrade ruamel.yaml --ignore-installed ruamel.yaml

In [ ]:
# Install Libraries
!pip install textblob
!pip install tweepy

In [ ]:
pip install pycountry

In [ ]:
pip install langdetect

In [ ]:
import nltk
nltk.downloader.download('vader_lexicon')

In [1]:
# Import Libraries

from textblob import TextBlob
import sys
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import nltk
import pycountry
import re
import string
import csv
import json

from wordcloud import WordCloud, STOPWORDS
from PIL import Image
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from langdetect import detect
from nltk.stem import SnowballStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer
from tweepy import OAuthHandler
from tweepy import Stream

### Scraping Data

In [2]:
#Â Autentikasi API
consumerKey = "VCXi57kKSV9XknYF6URbKsZLX"
consumerSecret = "RLRuh0KUVgGjGjGczmRIC66HbyUPrM6ltM9pVGXigI0Ub15qyd"
accessToken = "722625417081802756-Ma1ZvIpwrIZQK4K83umzgMSHQhg5bVr"
accessTokenSecret = "tjuHWYt23cLjpqJIo3ewTMKV9zmcPiKFGXatmSdd5ksBO"

# Scraping Data

autentikasi = OAuthHandler(consumerKey, consumerSecret)
autentikasi.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(autentikasi)

def scraptweets(cari_kata):

    data_tweets = pd.DataFrame(columns=['id', 'username', 'tweetCreated', 'tweetText'])

    tweets = tweepy.Cursor(
                    api.search_tweets, q=cari_kata, lang="en", tweet_mode='extended').items(1000)

    daftar_tweet = [tweet for tweet in tweets]

    for tweet in daftar_tweet:
        id = tweet.id
        username = tweet.user.screen_name
        tweetCreated = tweet.created_at

        try:
            tweetText = tweet.retweeted_status.full_text
        except AttributeError:
            tweetText = tweet.full_text

        ith_tweet = [id, username, tweetCreated, tweetText]

        data_tweets.loc[len(data_tweets)] = ith_tweet
    
    print('Proses Scrapping Selesai! Jumlah Data =', len(data_tweets))
    namafile = 'data_mobilelegend.csv'
    data_tweets.to_csv(namafile, index=False)

cari_kata = "mobilelegend OR pushrank OR turrent OR MobileLegendsOL"

scraptweets(cari_kata)

Proses Scrapping Selesai! Jumlah Data = 1000

In [3]:
#Read File
tweet_list = pd.read_csv("E:/Semester_8/12S4058_Pengolahan_Data_Besar/08.Proyek/TwitterSentimentAnalysis-master (dipakai)/data_mobilelegend.csv")

In [4]:
tweet_list

,id,username,tweetCreated,tweetText
0,1529384401192341505,AndreOl69442054,2022-05-25 08:50:30+00:00,@MobileLegendsOL When guys going to do somethi...
1,1529374689466134529,RayAshG,2022-05-25 08:11:55+00:00,Joystick Bug 5/24:\n\nPressing 2 directions at...
2,1529374459726966784,EsportsCharts,2022-05-25 08:11:00+00:00,Most popular @MobileLegendsOL events by Peak V...
3,1529373477995966464,not_tris_tan,2022-05-25 08:07:06+00:00,@freakingmvp @MobileLegendsOL Tbh the box thin...
4,1529368943651180546,RussellConner14,2022-05-25 07:49:05+00:00,@jordicas19 Can you try angling the cannon/tur...
...,...,...,...,...
995,1527290729684299778,MobileLegendsOL,2022-05-19 14:11:00+00:00,"""Another round of guess the hero. ðŸ˜‡ RIght answ..."
996,1527290371520200705,Silver31653,2022-05-19 14:09:34+00:00,@MobileLegendsOL @TSU Guy come on that to easy...
997,1527288433395126273,BasilVanlalhru1,2022-05-19 14:01:52+00:00,@MobileLegendsOL Is mlbb really losing the law...
998,1527270881898418176,Vexanafanboy,2022-05-19 12:52:08+00:00,@MobileLegendsOL MOONTON : Wanted Julian\nRiot...
999,1527267093632016385,zeria_abamosnow,2022-05-19 12:37:05+00:00,@MobileLegendsOL @TSU Alice

### Exploratory Data Analysis

In [5]:
tweet_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1000 non-null   int64
 1   username      1000 non-null   object
 2   tweetCreated  1000 non-null   object
 3   tweetText     1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [6]:
# Cek nilai duplikat
tweet_list.duplicated().any()

False

In [7]:
# Cek null
tweet_list.isna().any()

id              False
username        False
tweetCreated    False
tweetText       False
dtype: bool

In [8]:
tweet_list.isnull().any()

id              False
username        False
tweetCreated    False
tweetText       False
dtype: bool

In [9]:
df=tweet_list.tweetText
df=pd.DataFrame(df)

In [10]:
df

                                             tweetText
0    @MobileLegendsOL When guys going to do somethi...
1    Joystick Bug 5/24:\n\nPressing 2 directions at...
2    Most popular @MobileLegendsOL events by Peak V...
3    @freakingmvp @MobileLegendsOL Tbh the box thin...
4    @jordicas19 Can you try angling the cannon/tur...
..                                                 ...
995  "Another round of guess the hero. ðŸ˜‡ RIght answ...
996  @MobileLegendsOL @TSU Guy come on that to easy...
997  @MobileLegendsOL Is mlbb really losing the law...
998  @MobileLegendsOL MOONTON : Wanted Julian\nRiot...
999                        @MobileLegendsOL @TSU Alice

[1000 rows x 1 columns]

In [11]:
#Menghapus karakter HTML
df['tweetText'].replace({'r"\&\#[0-9]+\;"':''},regex=True,inplace=True)

In [12]:
#Mengubah semua text menjadi huruf kecil
df['tweetText']=df['tweetText'].str.lower()

In [13]:
#Menghapus tanda baca
df['tweetText'].replace({'[^\w\s]':''},regex=True,inplace=True)

In [14]:
#Menghapus angka
df['tweetText'].replace({'\d+':''},regex=True,inplace=True)

In [15]:
#Menghapus tanda jeda baris
df['tweetText'].replace({'\n':'','\r':'',"\'":""},regex=True,inplace=True)

In [16]:
#Menghapus spasi putih yang tidak perlu
df['tweetText'].replace({'r"[\s]+"':''},regex=True,inplace=True)

In [17]:
#Menghapus aksen
from unicodedata import normalize
df['tweetText']=df['tweetText'].apply(lambda text: normalize("NFKD", str(text)).encode("ascii", "ignore").decode("utf-8", "ignore"))

In [18]:
#Menghapus STOPWORDS
from nltk.corpus import stopwords
stop_words=stopwords.words('english')
df['tweetText']=df['tweetText'].apply(lambda x:" ".join([i for i in str(x).split(" ")  if i not in stop_words]))

In [19]:
df

                                             tweetText
0    mobilelegendsol guys going something magic dus...
1    joystick bug pressing  directions time letting...
2    popular mobilelegendsol events peak viewersdet...
3    freakingmvp mobilelegendsol tbh box thing syst...
4       jordicas try angling cannonturrent shoulderplz
..                                                 ...
995  another round guess hero  right answer onlymgl...
996  mobilelegendsol tsu guy come easy probably league
997         mobilelegendsol mlbb really losing lawsuit
998  mobilelegendsol moonton  wanted julianriot  wa...
999                          mobilelegendsol tsu alice

[1000 rows x 1 columns]